* {
    font-family:  sans-serif;
    print-color-adjust: exact;
}

h1 {
    text-align: center;
    font-variation-settings: "wght" 500;
}

h2 {
    background: #e0e0e0;
    padding: .6rem 1rem;
    border-radius: .5rem;
    margin-top: .5rem;
}

.day {
    break-inside: avoid;
    margin-top: .5rem;
    box-decoration-break: clone;
}

li {
    font-size: 1.25rem;
}

.event-time {
    font-weight: bold;
}