{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'calendar_print/missing.css' %}">
    <script src="{% static 'calendar_print/htmx.js' %}"></script>
    <script src="{% static 'calendar_print/hyperscript.js' %}"></script>
    <title>{% if page_title %}{{ page_title }} - {% endif %}Church Reporter</title>
</head>
<body>
    <header class="navbar">
        <h1>Planning Center Calendar Printer</h1>
    </header>
    {% if messages %}
        <div class="container">
            <div class="box">
                <strong class="block titlebar">Messages:</strong>
                <ul>
                    {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <main>
        {% block body %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>